// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");
// Icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

// Color var
$primaryColor: #063331;
$secondaryColor: #0e544f;
$tertiaryColor: #20bbbd;
$textColor: #c6f8d9;

// Style
body {
  font-family: "Montserrat", sans-serif;
}

.custom-navbar {
  .logo {
    color: $primaryColor;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;

    span {
      font-weight: 400;
    }
  }

  #navbarNav {
    .nav-item {
      .nav-link {
        color: $primaryColor;
        font-weight: 700;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-right: 0.5em;

        &:hover {
          color: $tertiaryColor;
        }
      }
    }
  }

  .search-box {
    border: 2px solid $primaryColor;
    border-radius: 2em;
    width: 150px;
    height: 30px;
    padding: 0 1em;
  }

  form {
    span {
      color: $primaryColor;

      border: none;
      background-color: transparent;
    }
  }
}

// Content
section {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;

  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    margin-top: 3.4em;
    color: $primaryColor;
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
  }

  h2 {
    margin-top: -0.4em;
    color: black;
    font-weight: 300;
    font-size: 1.7em;
    text-transform: uppercase;
  }

  p {
    margin-top: 3em;
    color: black;
    font-weight: 300;
    font-size: 1.1em;
  }

  button {
    margin-top: 2em;
    margin-bottom: 10em;
    padding: 4px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7em;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    border-radius: 2em;
    background-color: transparent;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }
}
